# BEGIN: /F:/Sombo/Plugins/LordSombo/.gitignore
Content/Assets/Audio/BAD_BOYZ_CLUB_-__Buruklyn_Boyz_X_Double_Trouble___Big_Yasa_X_Young_NC.uasset
Content/Assets/Audio/Bloody_War_Mbogi_Genje_Smady_Tings_X_Ethic_Seska_X_Dullah.uasset
Content/Assets/Audio/BURUKLYN_BOYZ_-_BLICKY__dir_by_BADMANBRIGHT_.uasset
Content/Assets/Audio/MR_RIGHT__BURUKLYN_BOYZ__-_WOOSH_WOOSH__dir_by_BADMANBRIGHT_.uasset
Content/Assets/Audio/Nikita_Kering_-_Ex.uasset
Content/Assets/Audio/Nikita_Kering_Better_Than_Ever.uasset
Content/Assets/Audio/Nikita_Kering_On_Yah.uasset

# END: /F:/Sombo/Plugins/LordSombo/.gitignore
