# BEGIN: /F:/Sombo/Plugins/LordSombo/.gitignore
/Content/Assets

/Content/Blueprints/Macros
/Content/Blueprints/PlayerData
/Content/Blueprints/Sounds
/Content/Blueprints/Utilities
/Content/Blueprints/UI
/Content/Blueprints/Vehicles
# END: /F:/Sombo/Plugins/LordSombo/.gitignore
